PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=0BmWXx0158JiiQzByJd8cpznXqsXTSIT
DRIVE_DISK=local
REDIS_CONNECTION=local
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
DB_CONNECTION=mysql
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=lucid
MYSQL_PASSWORD=
MYSQL_DB_NAME=lucid
