version: "3.1"
services:

    redis:
      image: redis:alpine
      container_name: ow-interactive-redis

    mysql:
      image: mysql:5.7
      container_name: ow-interactive-mysql
      working_dir: /application
      volumes:
        - .:/application
      environment:
        - MYSQL_ROOT_PASSWORD=root
        - MYSQL_DATABASE=ow-interactive
        - MYSQL_USER=root
        - MYSQL_PASSWORD=root
      ports:
        - "3306:3306"

    webserver:
      image: nginx:alpine
      container_name: ow-interactive-webserver
      working_dir: /application
      volumes:
          - ./:/application
          - ./phpdocker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      ports:
       - "3000:80"

    php-fpm:
      build: phpdocker/php-fpm
      container_name: ow-interactive-php-fpm
      working_dir: /application
      volumes:
        - ./:/application
        - ./phpdocker/php-fpm/php-ini-overrides.ini:/etc/php/7.4/fpm/conf.d/99-overrides.ini
